@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Azeret Mono", serif;
}
/* header section start */
/* nav section  */
nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
nav > a > button {
  padding: 15px 24px 15px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}
/* hero section */
.hero {
  width: 100%;
  height: 620px;
  background-image: url(./assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 18px;
}
.hero > p {
  width: 852px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.hero > a > button {
  padding: 15px 28px 15px 28px;
  border-radius: 8px;
  background: #0d1321;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  margin-top: 24px;
}
/* main section start */
/* why web development section */
.web-development-details {
  width: 80%;
  margin: 75px auto 90px auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 90px;
}
.web-development-details > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 22px;
}
.web-development-details > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 40px;
  padding: 0 40px;
}
.development-text-img-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.background-adjust-1 {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.background-adjust-2 {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.development-text-details {
  width: 55%;
}

.development-text-details > h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.development-text-details > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-top: 15px;
}

.development-text-details > button {
  padding: 12px 26px 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  font-family: Azeret Mono;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
/* inspiration-section */

.inspiration-details {
  width: 80%;
  margin: 0 auto 100px auto;
}
.inspiration-details > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.inspiration-details > p {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 70px;
  margin-bottom: 30px;
}
.inspiration-details-video {
  height: 614px;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid rgb(13, 19, 33);
  padding: 18px;
}
.inspiration-details-video iframe {
  border-radius: 18px;
}
