@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Azeret Mono", serif;
}
/* header section start */
/* nav section  */
nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
nav > a > button {
  padding: 15px 24px 15px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}
/* hero section */
.hero {
  width: 100%;
  height: 620px;
  background-image: url(./assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 18px;
}
.hero > p {
  width: 852px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.hero > a > button {
  padding: 15px 28px 15px 28px;
  border-radius: 8px;
  background: #0d1321;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  margin-top: 24px;
}
/* main section start */
/* why web development section */
.web-development-details {
  width: 80%;
  margin: 75px auto 90px auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 90px;
}
.web-development-details > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 22px;
}
.web-development-details > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 40px;
  padding: 0 40px;
}
.development-text-img-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.background-adjust-1 {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.background-adjust-2 {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.development-text-details {
  width: 55%;
}

.development-text-details > h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.development-text-details > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-top: 15px;
}

.development-text-details > a > button {
  padding: 12px 26px 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  font-family: Azeret Mono;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
/* inspiration-section */

.inspiration-details {
  width: 80%;
  margin: 0 auto 100px auto;
}
.inspiration-details > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.inspiration-details > p {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 70px;
  margin-bottom: 30px;
}
.inspiration-details-video {
  height: 614px;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid rgb(13, 19, 33);
  padding: 18px;
}
.inspiration-details-video iframe {
  border-radius: 18px;
}
/* current-target section */
.current-target {
  width: 80%;
  margin: 0 auto;
}
.current-target > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.current-target > p {
  width: 850px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 20px auto 20px auto;
}
.all-cards {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.card {
  width: 364px;
  border-radius: 16px;

  padding: 40px;
}
.card-background-adjust-1 {
  background-color: rgba(255, 76, 30, 0.05);
}
.card-background-adjust-2 {
  background-color: rgba(0, 76, 232, 0.05);
}
.card-background-adjust-3 {
  background-color: rgba(255, 223, 0, 0.05);
}

.card > h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 16px;
}
.card > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 20px;
}
.card > a > h6 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  text-decoration-thickness: 1.5px;
  text-decoration-line: underline;
}
/* support section */
.support {
  width: 80%;
  height: 313px;
  border-radius: 16px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    ),
    url(./assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto 90px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support > h1 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.support > p {
  width: 600px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 26px;
}
.support-input-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.support-input-button input {
  width: 548px;
  height: 50px;
  border-radius: 8px;
  padding-left: 30px;
  margin-right: 20px;
}
.support-input-button input::placeholder {
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}
.support-input-button button {
  width: 120px;
  height: 50px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: none;
}
.next-targets {
  width: 80%;
  margin: 0 auto 90px auto;
}
.next-targets > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}
.next-targets > p {
  width: 852px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  text-align: center;
  margin: 0 auto;
}

.target {
  height: 210px;
  display: flex;
  align-items: center;
  gap: 25px;

  padding: 30px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  margin-top: 26px;
}
.target-icon {
  width: 145px;
}
.target-details > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-bottom: 14px;
}
.target-details > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.7;
  margin-bottom: 14px;
}

.target-details > a > h6 {
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
}

/* footer details section  */
.footer {
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.03);
  padding: 20px 0;
}
.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.footer-details > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
.footer-icon a {
  text-decoration: none;
  color: none;
  margin-right: 10px;
}
